
.section{
    height: 320px;
    background-color: #212844;
    padding: 28px;
    padding-left: 100px;
    border-radius: 16px;
    margin: 35px 150px;

}
.alineado{
    display: flex;
    align-items: center;  
}
.textos{
    display: flex;
  flex-direction: column;
  padding: 10px;
}
.reloj{
    padding-left: 70px;
}
.spantext1{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.spantext2{
    color: #ffffff;
    font-size: 63px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 10px;

}
.spantext3{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 65px;

}
